<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Parameterization Test Suite">

	<test name="Join WIth Valid Deatils">
		<classes>
			<class name="com.quidco.testcases.JoinWithValidDetails" />
	</classes>
	</test>
	<test name="Validate Error Messages">
		<classes>
			<class name="com.quidco.testcases.ValidateErrorMessages" />
		</classes>
	</test>

</suite> <!-- Suite -->
